<div class="page-header">
  <h1>New entry<br/>
  <small>Start tracking your time.</small></h1>
</div>

<div>
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-lg start-button">Start</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger btn-lg stop-button">Stop</button>
    </div>
  </div>
  <div id="record" class="panel panel-default">
    <div class="panel-body">
      <p class="timer text-center active"></p>
    </div>
  </div>
</div>

<form class="form-inline" name="entryFinishForm">

  <div class="form-group col-xs-12 col-md-6">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-usd"></i> Invoice
      </span>
      <label class="sr-only" for="invoice">Choose invoice</label>
      <select class="form-control selectpicker"
              ng-model="selectedInvoice"
              ng-options="invoice.invoice_date for invoice in invoices"
              name="invoice">
              <option value="">-- choose invoice --</option>
      </select>
    </div>
  </div>

  <div class="form-group col-xs-12 col-md-6">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-tags"></i> Topics
      </span>
      <label class="sr-only" for="topics">Choose topics</label>
      <select class="form-control selectpicker"
              ng-model="selectedTopics"
              ng-options="topic.name for topic in topics"
              name="topics">
              <option value="">-- choose topics --</option>
      </select>
    </div>
  </div>

</form>


<!-- RAILS CODE BELOW


<%= bootstrap_form_for @entry do |form| %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :entry_date %>
  <%= form.hidden_field :start_time %>
  <%= form.hidden_field :end_time %>
  <%= form.select :invoice_id, options_for_select(Invoice.invoices_for current_user), label: "Choose an invoice for this entry", include_blank: true %>
  <%#= form.select :topic_id, options_for_select(Topic.all), label: "Choose a topic", include_blank: true %>
  <%= form.text_field :topic_id %>
  <%= form.button "Save entry", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
<% end %>

 -->