<div class="page-header">
  <h1>Edit job</h1>
  
  <%= link_to "Back to job", job_path(@job), class: "btn btn-default btn-sm" %>
  <%= link_to "Back to job list", jobs_path, class: "btn btn-default btn-sm" %>
</div>

<%= render 'job_form' %>

