<div class="page-header">
  <h1>New client<br/>
  <small>Add an invoicable client.</small></h1>
  
  <%= link_to "Back to client list", clients_path, class: "btn btn-default btn-sm" %>
</div>

<%= render 'client_form' %>

