<div class="page-header">
  <h1>Welcome to TimeTracker<br/>
  <small>The freelancer's best friend for tracking projects, hours and invoicing.</small></h1>
</div>

<div>
  <h2 class="text-center">Start tracking time now</h2>
  <br>
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-lg start-button">Start</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger btn-lg stop-button">Stop</button>
    </div>
  </div>
  <div id="record">
    <p class="timer text-center active"></p>
  </div>
</div>