<h1>Welcome to TimeTracker</h1>
<p>The freelancer's best friend for tracking projects, hours and invoicing.</p>

<p>Log in/sign up <%= link_to "here", new_user_session_path %>, or sign in with <%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %>.</p>