.instructions {
  .thumbnail1 {
    min-height: 200px;
    background-color: #fcf8e3;
  }
  .thumbnail2 {
    min-height: 200px;
    background-color: #dff0d8;
  }
  .thumbnail3 {
    min-height: 200px;
    background-color: #d9edf7;
  }
}